@media (min-width: 1159px) {
  html {
    font-size: 12px !important;
  }
	.header__top-wrapper {
		padding: 10px 0;
	}

	.header__top__item-image {
		gap: 10px !important;
	}
	.header__top__item-image figure img {
		width: 50px !important;
	}
	.hero__top__logo-wrapper div a img {
		width: 70px;
	}
  .hero-section__wrapper{
  min-height: 600px !important;
}
.address-section__item-location figure img{
  width: 20px !important;

}
}


